<div class="row">
  <div class="col-md-6">

    <h3 id="syllabus-git">El control de versiones con Git</h3>
    <ul>
      <li>Creando un repositorio</li>
      <li>Rastreando cambios: <code>add</code>, <code>commit</code>, ...</li>
      <li>Explorando el **Historial**: <code>status</code>, <code>diff</code>, ...</li>
      <li>Ignorando cambios</li>
      <li>Repositorios remotos en GitHub: <code>clone</code>, <code>pull</code>, <code>push</code>, ...</li>
      <li>Trabajos en colaboración</li>
      <li>Resolviendo conflictos</li>
      <li>Escogiendo licencias</li>
      <li>Ejemplo de referencia o cita</li>
      <li>Hospedaje de repositorios</li>
      <li>Usando Git desde RStudio</li>
      <li><a href="{{site.swc_pages}}/git-novice-es/reference">Referencia...</a></li>
    </ul>
  </div>
  
</div>
